table {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
}

.table-container{
    padding-left: 45px;
    height: 550px;
    overflow-y: scroll !important;
}

th {
    padding: 20px;
    height: 30px;
    text-align: left;
    background-color: #e0e0e0; 
    border-bottom: 2px solid #ccc; 
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
}

td {
    padding: 20px;
    height: 52px;
    text-align: left;
    border-bottom: 1px solid #ddd; 
    font-size: 14px;
    max-width: 20ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Style pour les lignes impaires */
tr:nth-child(odd) {
    background-color: #f0f0f0; 
}

/* Survol des lignes pour une meilleure interaction */
tr:hover {
    background-color: #e0e0e0; 
    cursor: pointer;
}

.shop-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
